# Init

In [1]:
import pickle
from sklearn.model_selection import train_test_split

In [5]:
with open('pickle/tfidf_df.p', 'rb') as file:
    tfidf_df = pickle.load(file)
tfidf_df.head()

,acordo,afirma,afirmou,apesar,brasil,brasileira,brasileiro,campanha,centro,chegou,...,regiao,resultado,rousseff,seguranca,semana,situacao,trabalho,ultima,ultimos,target
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.113346,0.000000,0.0,0.0,0.0,6
1,0.000000,0.000000,0.000000,0.218331,0.000000,0.0,0.0,0.224543,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,3
2,0.106243,0.000000,0.198091,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.135876,0.0,0.0,0.0,6
3,0.000000,0.000000,0.403944,0.000000,0.262744,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.139283,0.0,0.113967,0.000000,0.0,0.0,0.0,5
4,0.234460,0.100607,0.174861,0.000000,0.000000,0.0,0.0,0.462245,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,5

In [6]:
X = tfidf_df.drop(columns=['target'])
y = tfidf_df['target']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)