# Init

In [1]:
import pickle
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
with open('df.p', 'rb') as file:
    df = pickle.load(file)
df.head()

                                                text
0  programa treinamento jornalismo agroindústr su...
1  ofício enviar juiz sergio morar em este sexta ...
2  ex governador rio sérgio cabral transferir com...
3  aplauso vaia juiz federal sergio Moro responsá...
4  ex Executivo empreiteira odebrecht afirmar aco...

In [8]:
vectorizer = TfidfVectorizer(strip_accents='ascii', min_df=10, max_features=5000)
tfidf_matrix = vectorizer.fit_transform(df['text'])

In [9]:
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

In [10]:
tfidf_df.head()

,abaixo,abalar,abandonar,abastecimento,abater,abc,aberto,abertura,aberturar,abordagem,...,young,youtube,zagueiro,zanetti,zavascki,ze,zelandia,zero,zika,zona
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.043398
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.029421,0.0,0.0,0.024433,0.0,0.000000