In [19]:
import pandas as pd
import re

In [20]:
df = pd.read_csv('disney-dataset.csv')

df = df.drop(['Review_ID', 'Year_Month', 'Reviewer_Location', 'Branch'], axis=1)
df = df.rename(columns={'Rating': 'rating', 'Review_Text': 'review'})

df.head()

   rating                                             review
0       4  If you've ever been to Disneyland anywhere you...
1       4  Its been a while since d last time we visit HK...
2       4  Thanks God it wasn   t too hot or too humid wh...
3       4  HK Disneyland is a great compact park. Unfortu...
4       4  the location is not in the city, took around 1...

### QUESTÃO 1

In [21]:
from sklearn.preprocessing import FunctionTransformer

def remover_espacos_em_branco(x):
    frases = list()
    for review in x:
        review_regex = re.sub(r'\s+', ' ', review).lower()
        frases.append(review_regex.split(" "))
    return frases

ft = FunctionTransformer(remover_espacos_em_branco)

df['q1'] = ft.fit_transform(df['review'])
df.head()

,rating,review,q1
0,4,If you've ever been to Disneyland anywhere you...,"[if, you've, ever, been, to, disneyland, anywh..."
1,4,Its been a while since d last time we visit HK...,"[its, been, a, while, since, d, last, time, we..."
2,4,Thanks God it wasn t too hot or too humid wh...,"[thanks, god, it, wasn, t, too, hot, or, too, ..."
3,4,HK Disneyland is a great compact park. Unfortu...,"[hk, disneyland, is, a, great, compact, park.,..."
4,4,"the location is not in the city, took around 1...","[the, location, is, not, in, the, city,, took,..."

### QUESTÃO 2

In [22]:
from unidecode import unidecode

def remover_caracteres_indesejados(x):
    frases = list()
    for review in x:
        review_sem_char = unidecode(review).lower()
        frases.append(review_sem_char)
    return frases

ft = FunctionTransformer(remover_caracteres_indesejados)

df['q2'] = ft.fit_transform(df['review'])
df.head()

,rating,review,q1,q2
0,4,If you've ever been to Disneyland anywhere you...,"[if, you've, ever, been, to, disneyland, anywh...",if you've ever been to disneyland anywhere you...
1,4,Its been a while since d last time we visit HK...,"[its, been, a, while, since, d, last, time, we...",its been a while since d last time we visit hk...
2,4,Thanks God it wasn t too hot or too humid wh...,"[thanks, god, it, wasn, t, too, hot, or, too, ...",thanks god it wasn t too hot or too humid wh...
3,4,HK Disneyland is a great compact park. Unfortu...,"[hk, disneyland, is, a, great, compact, park.,...",hk disneyland is a great compact park. unfortu...
4,4,"the location is not in the city, took around 1...","[the, location, is, not, in, the, city,, took,...","the location is not in the city, took around 1..."

### QUESTÃO 3

In [23]:
bins = [0, 2, 3, 5]
labels = ['Ruim', 'Neutro', 'Bom']

df['q3'] = pd.cut(df['rating'], bins=bins, labels=labels, right=False)
df.head()

,rating,review,q1,q2,q3
0,4,If you've ever been to Disneyland anywhere you...,"[if, you've, ever, been, to, disneyland, anywh...",if you've ever been to disneyland anywhere you...,Bom
1,4,Its been a while since d last time we visit HK...,"[its, been, a, while, since, d, last, time, we...",its been a while since d last time we visit hk...,Bom
2,4,Thanks God it wasn t too hot or too humid wh...,"[thanks, god, it, wasn, t, too, hot, or, too, ...",thanks god it wasn t too hot or too humid wh...,Bom
3,4,HK Disneyland is a great compact park. Unfortu...,"[hk, disneyland, is, a, great, compact, park.,...",hk disneyland is a great compact park. unfortu...,Bom
4,4,"the location is not in the city, took around 1...","[the, location, is, not, in, the, city,, took,...","the location is not in the city, took around 1...",Bom

### QUESTÃO 4