In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('adult.csv')
df = df[['age', 'workclass']]
df.head()

   age workclass
0   90         ?
1   82   Private
2   66         ?
3   54   Private
4   41   Private

In [18]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /opt/conda/lib/python3.11/site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (1.13.0)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (0.14.1)
Requirement already satisfied: pandas>=1.0.5 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.4.0)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.11/site-packages (from statsmodels>=0.9.0->category_encoders) (24.0)

In [19]:
import category_encoders as ce

encoder = ce.HelmertEncoder()

temp_df = encoder.fit_transform(df['workclass'])

df_encoded = pd.concat([df, temp_df], axis=1).drop(columns=['intercept'])

df_encoded.head()

/opt/conda/lib/python3.11/site-packages/category_encoders/base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
/opt/conda/lib/python3.11/site-packages/category_encoders/base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

,age,workclass,workclass_0,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7
0,90,?,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,82,Private,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,66,?,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,54,Private,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,41,Private,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0